input:focus, textarea:focus, select:focus {
  outline: none;
}

.modal-backdrop {
  z-index: 1071;
}

.modal {
  z-index: 1072;
}

.modal-header {
  background: #00643B;
}

.modal-header, .modal-body {
  padding: 12px 25px !important;
}

.modal-header button.close {
  width: 13px;
  height: 13px;
  padding: 12px;
  border: 0px none;
  /* background:transparent url('../../public/images/modal-close.svg') no-repeat center; */
  background: transparent;
}

.modal-header button.close span {
  display: none;
}

.modal-content, .modal-header {
  border: 0px none !important;
  border-radius: 6px 6px 0px 0px !important;
}

.confirmModal .modal-content {
  border-radius: 6px !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.confirmModal .modal-dialog {
  min-width: 450px !important;
  max-width: 450px !important;
}

.modal-header {
  position: relative;
}

.close-modal-header {
  position: absolute;
  right: 20px;
  top: 15px;
}

.modal-title.h4 h3 {
  font-family: 'Segoe_UI_Bold';
  font-weight: bold;
  margin: 0 0 5px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
  color: #fff;
}

.modal-title.h4 p {
  margin: 0 0 5px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.modal-form-wrapper {
  font-family: 'Segoe_UI';
  font-weight: normal;
  padding: 20px 0 !important;
}

.uf-single {
  margin: 0 0 15px 0;
}

.uf-single {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.uf-label {
  margin: 0 10px 0 0;
  flex: 0 0 120px;
  font-size: 13px;
  line-height: 16px;
  color: #252525;
}

.uf-field {
  margin: 0 10px 0 0;
  flex: 0 0 340px;
}

.search-yazmi, .input-yazmi {
  width: 100%;
  padding: 7px 8px;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

.search-yazmi:hover, .search-yazmi:focus, .search-yazmi:active, .input-yazmi:hover, .input-yazmi:focus, .input-yazmi:active {
  border: 1px solid #00643B
}

.uf-field-link a, .uf-field-link a:hover, .uf-field-link a:focus, .uf-field-link a:active {
  font-family: 'Segoe_UI';
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #252525;
  text-decoration: none;
}

.uf-section-title {
  margin: 35px 0 20px 0;
  font-family: 'Segoe_UI_Bold';
  font-size: 14px;
  line-height: 16px;
}

.modal-form-cta {
  margin: 35px 0 0 0;
}

.modal-form-cta button {
  margin: 0 10px 0 0;
}

.btn-primary-yazmi {
  font-family: var(--Poppins_500);
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #00643B;
  background: #00643B;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border-radius: 6px;
}

.btn-secondary-yazmi {
  font-family: var(--Poppins_500);
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #666;
  background: #fff;
  color: #666;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 6px;
}

.bulk-upload-modal {
  text-align: center;
  padding: 30px 0;
}

.bulk-upload-modal p {
  margin: 0 0 12px 0;
  font-size: 13px;
  line-height: 16px;
  color: #252525;
}

.bulk-upload-modal a, .bulk-upload-modal a:hover, .bulk-upload-modal a:focus, .bulk-upload-modal a:active,.link-highlight,.link-highlight:hover,.link-highlight:focus,.link-highlight:active {
  color: #0A47E5;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
}

.bulk-upload-modal a.upload-file {
  display: inline-block;
  margin: 0 0 12px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #252525;
  text-decoration: none;
}

/*Custom radio button*/

/* The container-radio */

.container-radio {
  display: block;
  position: relative;
  padding: 2px 0 0 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
}

/* On mouse-over, add a grey background color */

.container-radio:hover input~.checkmark-radio {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */

.container-radio input:checked~.checkmark-radio {
  /* background-color: #2196F3; */
  border: 1px solid #C4C4C4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.container-radio input:checked~.checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.container-radio .checkmark-radio:after {
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0AB83B;
}

/*Custom radio button*/

.radio-field {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px 0;
}

.radio-field-wrapper {
  flex: 0 0 48%;
}

.broadcast-form-wrapper .uf-field {
  flex: 0 0 460px
}

.display-block {
  width: 100%;
}

.btn-grey {
  padding: 10px 25px;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #666666;
  background: #EBEBEB;
  border-radius: 5px;
  border: 0px;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #dcdcdc
}

.broadcast-cta {
  margin-left: 130px;
}

.prev-broadcast-wrapper {
  padding: 17px;
  background: #FAF9FE;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 5px;
}

.pb-single {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 25px 0;
  font-size: 13px;
  line-height: 16px;
}

.pb-single p {
  margin: 0;
}

.pb-single:last-of-type {
  margin: 0;
}

.pbs-left {
  flex: 0 0 60%;
}

.pbs-right {
  flex: 0 0 40%;
}

.pbs-right {
  text-align: right
}

.text-bold {
  font-weight: bold;
}

.prev-broadcast-topic {
  line-height: 18px;
}

.uf-field-two .input-yazmi, .uf-field-two .select-yazmi {
  width: 48%;
}

.uf-field-two .input-yazmi:first-child {
  margin-right: 4%;
}

.uf-single.uf-note {
  margin: 0;
}

.uf-note p {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.text-red {
  color: #F14F4F
}

.confirm-modal-wrapper {
  padding: 12px 0;
}

.cm-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.cm-title-content {
  flex: 0 0 80%;
}

.cm-title-text {
  font-family: 'Segoe_UI';
  font-weight: 600;
  word-break: break-all;
  text-transform: uppercase;
}

.cm-title-close {
  flex: 0 0 20px;
  text-align: center;
}

.cm-title-close {
  margin-top: -3px;
}

.cm-content {
  font-family: 'Segoe_UI';
  margin: 15px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

/*Custom checkbox*/

/* The container-checkbox */

/* The container-checkbox */

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark-checkbox {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #9A9A9A;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */

.container-checkbox:hover input~.checkmark-checkbox {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark-checkbox {
  background-color: #0AB83B;
  border: 1px solid #9A9A9A;
}

/* Create the checkmark-checkbox/indicator (hidden when not checked) */

.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-checkbox when checked */

.container-checkbox input:checked~.checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark-checkbox/indicator */

.container-checkbox .checkmark-checkbox:after {
  left: 6px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Custom checkbox*/

.confirm-cta {
  margin:40px 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.confirm-cta a,.confirm-cta a:hover,.confirm-cta a:focus,.confirm-cta a:active {
  font-family: 'Segoe_UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #252525;
}
.downloadingModal{
  margin:10vh auto
}
.downloading-title{
  margin:0 0 12px 0;
  font-weight: bold;
font-size: 14px;
line-height: 16px;
}
.downloading-text{
  font-size: 12px;
line-height: 18px;
}
.upload_file{
  position: relative;
  height: 40px;
}
.upload_input{
  z-index: 1;
  position: relative;
  width: 100%;
  opacity: 0;
  height: 100%;
  cursor: pointer;
}
.upload_btn{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 650px !important;
    max-width: 650px !important
  }
}